/*
RGB(46,79,119) dark blue
RGB(119,244,226) light blue green
RGB(46,119,80) dark green
RGB(119,79,46) brown 
RGB(79,126,114) dark light green



RGB(111,111,136) light purple
RGB(136,246,246) light blue
RGB(111,136,134) steel grey
RGB(136,111,111) brown
RGB(143,102,143) steel purple

*/
@import url("https://fonts.googleapis.com/css?family=Bahiana|Barrio|Open+Sans+Condensed:300|Oswald|Roboto|Sansita|Titillium+Web");
body {
  overflow-x: hidden;
}
body .imgLoader {
  width: 100vw;
  height: 50vw;
  position: absolute;
  left: -500vw;
  top: -500vw;
}
body .imgLoader img {
  width: 100%;
  height: 100%;
  position: absolute;
}

#wrapper {
  width: 100vw;
  min-height: 100vh;
}
#wrapper #landing {
  width: 100%;
  height: 100vh;
  position: relative;
}
#wrapper #landing:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: RGBA(77, 192, 181, 0.1);
  pointer-events: none;
}
#wrapper #landing::before {
  display: block;
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-attachment: fixed;
  /* enable HW acceleration */
  will-change: top;
  transform: translate3d(0, 0, 0);
  background: url(http://i.imgsafe.org/5e6d523f9b.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-color: RGBA(29, 28, 26, 1);
  background-position-y: -2vw;
  background-position-x: center;
}
#wrapper #landing #name {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  font-family: Oswald;
  text-transform: uppercase;
  font-size: calc(7px + 4vw);
  text-align: center;
  color: RGBA(29, 28, 26, 1);
}
@media (min-width: 340px) and (max-width: 767px) {
  #wrapper #landing #name {
    text-shadow: none;
  }
}
#wrapper #landing #name #tagline {
  font-family: "Titillium Web";
  font-size: calc(12px + 1.25vw);
  width: 100%;
  height: 50px;
  text-align: center;
  padding-top: 40px;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 50px;
}
#wrapper #landing #name #tagline:before {
  content: "";
  width: 40%;
  height: 40%;
  position: absolute;
  bottom: 0%;
  left: 30%;
  border-top: 2px solid black;
}
#wrapper #bodyContent {
  min-height: 100vh;
  width: 100%;
  background: RGBA(29, 28, 26, 1);
  display: flex;
  flex-flow: column;
}
#wrapper #bodyContent .bodyTitle {
  width: 100%;
  text-align: center;
  color: white;
  font-size: calc(10px + 1.75vw);
  padding: 10px 10px 75px 10px;
  margin-top: 2.5%;
  text-transform: capitalize;
  font-family: 'Titillium Web';
  font-variant: small-caps;
}
#wrapper #bodyContent .innerBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: auto;
  margin: 0 auto;
}
#wrapper #bodyContent .innerBox a.pen:nth-child(1) {
  margin: 15px;
  width: 320px;
  height: 230px;
  position: relative;
  background: url("http://i.imgsafe.org/71f29dbf56.png");
  background-size: 100% 80%;
  color: black;
  font-family: "Roboto";
}
#wrapper #bodyContent .innerBox a.pen:nth-child(1):before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  transition: all .3s ease;
}
#wrapper #bodyContent .innerBox a.pen:nth-child(1):hover:before {
  background: transparent;
}
#wrapper #bodyContent .innerBox a.pen:nth-child(1) p.desc {
  width: calc(100% - 10px);
  height: calc(20% - 10px);
  background: RGB(31, 137, 212);
  position: absolute;
  bottom: 0;
  padding: 5px;
  justify-content: center;
  text-align: center;
  box-shadow: inset 0 0 0 1px black;
  color: whitesmoke;
  font-size: calc(7px + .4vw);
  display: flex;
  align-items: center;
  line-height: 125%;
}
#wrapper #bodyContent .innerBox a.pen:nth-child(2) {
  margin: 15px;
  width: 320px;
  height: 230px;
  position: relative;
  background: url("http://i.imgsafe.org/7223f445ae.png");
  background-size: 100% 80%;
  color: black;
  font-family: "Roboto";
}
#wrapper #bodyContent .innerBox a.pen:nth-child(2):before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  transition: all .3s ease;
}
#wrapper #bodyContent .innerBox a.pen:nth-child(2):hover:before {
  background: transparent;
}
#wrapper #bodyContent .innerBox a.pen:nth-child(2) p.desc {
  width: calc(100% - 10px);
  height: calc(20% - 10px);
  background: RGB(31, 137, 212);
  position: absolute;
  bottom: 0;
  padding: 5px;
  justify-content: center;
  text-align: center;
  box-shadow: inset 0 0 0 1px black;
  color: whitesmoke;
  font-size: calc(7px + .4vw);
  display: flex;
  align-items: center;
  line-height: 125%;
}
#wrapper #bodyContent .innerBox a.pen:nth-child(3) {
  margin: 15px;
  width: 320px;
  height: 230px;
  position: relative;
  background: url("http://i.imgsafe.org/727f6786fb.png");
  background-size: 100% 80%;
  color: black;
  font-family: "Roboto";
}
#wrapper #bodyContent .innerBox a.pen:nth-child(3):before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  transition: all .3s ease;
}
#wrapper #bodyContent .innerBox a.pen:nth-child(3):hover:before {
  background: transparent;
}
#wrapper #bodyContent .innerBox a.pen:nth-child(3) p.desc {
  width: calc(100% - 10px);
  height: calc(20% - 10px);
  background: RGB(31, 137, 212);
  position: absolute;
  bottom: 0;
  padding: 5px;
  justify-content: center;
  text-align: center;
  box-shadow: inset 0 0 0 1px black;
  color: whitesmoke;
  font-size: calc(7px + .4vw);
  display: flex;
  align-items: center;
  line-height: 125%;
}
#wrapper #bodyContent .innerBox a.pen:nth-child(4) {
  margin: 15px;
  width: 320px;
  height: 230px;
  position: relative;
  background: url("http://i.imgsafe.org/743ae6e254.png");
  background-size: 100% 80%;
  color: black;
  font-family: "Roboto";
}
#wrapper #bodyContent .innerBox a.pen:nth-child(4):before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  transition: all .3s ease;
}
#wrapper #bodyContent .innerBox a.pen:nth-child(4):hover:before {
  background: transparent;
}
#wrapper #bodyContent .innerBox a.pen:nth-child(4) p.desc {
  width: calc(100% - 10px);
  height: calc(20% - 10px);
  background: RGB(31, 137, 212);
  position: absolute;
  bottom: 0;
  padding: 5px;
  justify-content: center;
  text-align: center;
  box-shadow: inset 0 0 0 1px black;
  color: whitesmoke;
  font-size: calc(7px + .4vw);
  display: flex;
  align-items: center;
  line-height: 125%;
}
#wrapper #bodyContent .innerBox a.pen:nth-child(5) {
  margin: 15px;
  width: 320px;
  height: 230px;
  position: relative;
  background: url("http://i.imgsafe.org/7445fbb149.png");
  background-size: 100% 80%;
  color: black;
  font-family: "Roboto";
}
#wrapper #bodyContent .innerBox a.pen:nth-child(5):before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  transition: all .3s ease;
}
#wrapper #bodyContent .innerBox a.pen:nth-child(5):hover:before {
  background: transparent;
}
#wrapper #bodyContent .innerBox a.pen:nth-child(5) p.desc {
  width: calc(100% - 10px);
  height: calc(20% - 10px);
  background: RGB(31, 137, 212);
  position: absolute;
  bottom: 0;
  padding: 5px;
  justify-content: center;
  text-align: center;
  box-shadow: inset 0 0 0 1px black;
  color: whitesmoke;
  font-size: calc(7px + .4vw);
  display: flex;
  align-items: center;
  line-height: 125%;
}
#wrapper #bodyContent .innerBox a.pen:nth-child(6) {
  margin: 15px;
  width: 320px;
  height: 230px;
  position: relative;
  background: url("http://i.imgsafe.org/744f64be9f.png");
  background-size: 100% 80%;
  color: black;
  font-family: "Roboto";
}
#wrapper #bodyContent .innerBox a.pen:nth-child(6):before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  transition: all .3s ease;
}
#wrapper #bodyContent .innerBox a.pen:nth-child(6):hover:before {
  background: transparent;
}
#wrapper #bodyContent .innerBox a.pen:nth-child(6) p.desc {
  width: calc(100% - 10px);
  height: calc(20% - 10px);
  background: RGB(31, 137, 212);
  position: absolute;
  bottom: 0;
  padding: 5px;
  justify-content: center;
  text-align: center;
  box-shadow: inset 0 0 0 1px black;
  color: whitesmoke;
  font-size: calc(7px + .4vw);
  display: flex;
  align-items: center;
  line-height: 125%;
}
#wrapper #bodyContent .innerBox a.pen:nth-child(7) {
  margin: 15px;
  width: 320px;
  height: 230px;
  position: relative;
  background: url("http://i.imgsafe.org/7459a0f321.png");
  background-size: 100% 80%;
  color: black;
  font-family: "Roboto";
}
#wrapper #bodyContent .innerBox a.pen:nth-child(7):before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  transition: all .3s ease;
}
#wrapper #bodyContent .innerBox a.pen:nth-child(7):hover:before {
  background: transparent;
}
#wrapper #bodyContent .innerBox a.pen:nth-child(7) p.desc {
  width: calc(100% - 10px);
  height: calc(20% - 10px);
  background: RGB(31, 137, 212);
  position: absolute;
  bottom: 0;
  padding: 5px;
  justify-content: center;
  text-align: center;
  box-shadow: inset 0 0 0 1px black;
  color: whitesmoke;
  font-size: calc(7px + .4vw);
  display: flex;
  align-items: center;
  line-height: 125%;
}
#wrapper #bodyContent .innerBox a.pen:nth-child(8) {
  margin: 15px;
  width: 320px;
  height: 230px;
  position: relative;
  background: url("http://i.imgsafe.org/74629c1f9f.png");
  background-size: 100% 80%;
  color: black;
  font-family: "Roboto";
}
#wrapper #bodyContent .innerBox a.pen:nth-child(8):before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  transition: all .3s ease;
}
#wrapper #bodyContent .innerBox a.pen:nth-child(8):hover:before {
  background: transparent;
}
#wrapper #bodyContent .innerBox a.pen:nth-child(8) p.desc {
  width: calc(100% - 10px);
  height: calc(20% - 10px);
  background: RGB(31, 137, 212);
  position: absolute;
  bottom: 0;
  padding: 5px;
  justify-content: center;
  text-align: center;
  box-shadow: inset 0 0 0 1px black;
  color: whitesmoke;
  font-size: calc(7px + .4vw);
  display: flex;
  align-items: center;
  line-height: 125%;
}
#wrapper #bodyContent .innerBox a.pen:nth-child(9) {
  margin: 15px;
  width: 320px;
  height: 230px;
  position: relative;
  background: url("http://i.imgsafe.org/7469507cf8.png");
  background-size: 100% 80%;
  color: black;
  font-family: "Roboto";
}
#wrapper #bodyContent .innerBox a.pen:nth-child(9):before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  transition: all .3s ease;
}
#wrapper #bodyContent .innerBox a.pen:nth-child(9):hover:before {
  background: transparent;
}
#wrapper #bodyContent .innerBox a.pen:nth-child(9) p.desc {
  width: calc(100% - 10px);
  height: calc(20% - 10px);
  background: RGB(31, 137, 212);
  position: absolute;
  bottom: 0;
  padding: 5px;
  justify-content: center;
  text-align: center;
  box-shadow: inset 0 0 0 1px black;
  color: whitesmoke;
  font-size: calc(7px + .4vw);
  display: flex;
  align-items: center;
  line-height: 125%;
}
#wrapper #bodyContent .innerBox a.pen:nth-child(10) {
  margin: 15px;
  width: 320px;
  height: 230px;
  position: relative;
  background: url("http://i.imgsafe.org/746cd9c05a.png");
  background-size: 100% 80%;
  color: black;
  font-family: "Roboto";
}
#wrapper #bodyContent .innerBox a.pen:nth-child(10):before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  transition: all .3s ease;
}
#wrapper #bodyContent .innerBox a.pen:nth-child(10):hover:before {
  background: transparent;
}
#wrapper #bodyContent .innerBox a.pen:nth-child(10) p.desc {
  width: calc(100% - 10px);
  height: calc(20% - 10px);
  background: RGB(31, 137, 212);
  position: absolute;
  bottom: 0;
  padding: 5px;
  justify-content: center;
  text-align: center;
  box-shadow: inset 0 0 0 1px black;
  color: whitesmoke;
  font-size: calc(7px + .4vw);
  display: flex;
  align-items: center;
  line-height: 125%;
}
#wrapper #footer {
  position: relative;
}
#wrapper #footer::before {
  display: block;
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-attachment: fixed;
  /* enable HW acceleration */
  will-change: top;
  transform: translate3d(0, 0, 0);
  background: url(http://i.imgsafe.org/5e6d523f9b.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-color: RGBA(29, 28, 26, 1);
  background-position-y: -2vw;
  background-position-x: center;
}
#wrapper #otherContent {
  min-height: 30vw;
  width: 100%;
  background: RGBA(29, 28, 26, 1);
  perspective: 1100px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
#wrapper #otherContent #otTitle {
  width: 100%;
  display: block;
  height: 10%;
  text-align: center;
  color: whitesmoke;
  line-height: 150%;
  text-transform: capiltalize;
  font-family: "Bahiana";
  font-size: calc(5px + 2.5vw);
}
#wrapper #otherContent #otTitle span {
  transition: all .1s ease;
  margin: .5px;
}
#wrapper #otherContent #otTitle span:nth-child(3), #wrapper #otherContent #otTitle span:nth-child(8), #wrapper #otherContent #otTitle span:nth-child(13), #wrapper #otherContent #otTitle span:nth-child(14), #wrapper #otherContent #otTitle span:nth-child(17), #wrapper #otherContent #otTitle span:nth-child(22) {
  margin-right: 15px;
}
#wrapper #otherContent #descriptionContainer {
  width: 380px;
  height: 500px;
  overflow: hidden;
  transition: all .3s ease;
  margin: 0 auto;
  position: relative;
  z-index: 5;
}
#wrapper #otherContent #descriptionContainer #descSlider {
  width: 100%;
  height: 400%;
  color: whitesmoke;
  position: relative;
  transition: top .3s linear;
}
#wrapper #otherContent #descriptionContainer #descSlider .desc {
  height: 25%;
  width: 100%;
}
#wrapper #otherContent #descriptionContainer #descSlider .desc .title {
  box-sizing: border-box;
  width: 100%;
  height: 12.5%;
  padding: 1vw;
  text-align: center;
  position: relative;
  font-family: "Titillium Web";
}
#wrapper #otherContent #descriptionContainer #descSlider .desc .title:before {
  content: "";
  width: 60%;
  height: 100%;
  top: 0;
  left: 20%;
  border-bottom: 2px solid whitesmoke;
  position: absolute;
}
#wrapper #otherContent #descriptionContainer #descSlider .desc .about {
  height: calc(72.5% - 2vw);
  width: calc(80% - 2vw);
  margin: 10% auto;
  box-shadow: inset 0 0 3px 1px whitesmoke;
  border-radius: 5px;
  padding: 1vw;
  line-height: 18px;
  text-align: justify;
  font-family: "Titillium Web";
  text-indent: 35px;
}
#wrapper #otherContent #changeSlide {
  width: 150px;
  height: 150px;
  border: 2px solid skyblue;
  cursor: pointer;
  margin: 0 auto;
  margin-left: -30%;
  position: relative;
  z-index: 5;
}
#wrapper #otherContent #box {
  position: relative;
  width: 65%;
  margin: 5% auto;
  padding-bottom: 25%;
  transform: rotateY(40deg) translate3d(10vw, -2.5vw, -25vw);
  transform-style: preserve-3d;
}
@media (min-width: 340px) and (max-width: 767px) {
  #wrapper #otherContent #box {
    display: none;
  }
}
#wrapper #otherContent #box * {
  transition: background-image .5s ease;
}
#wrapper #otherContent #box #top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  float: left;
  background-image: url(http://i.imgsafe.org/f0a778861b.png);
  background-size: 125% 100%;
  background-position: 100% 0;
  background-repeat: no-repeat;
}
#wrapper #otherContent #box #top #sSide {
  position: absolute;
  top: 0;
  right: 100%;
  width: 25%;
  height: 100%;
  background-image: url(http://i.imgsafe.org/f0a778861b.png);
  background-size: 500% 100%;
  transform-origin: 100% 50%;
  transform: rotateY(-90deg);
  background-position: 0% 0;
  transform-style: preserve-3d;
}
#wrapper #otherContent #box #top #sSide #sReflection {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotateX(-90deg);
  transform-origin: 50% 100%;
  background-image: url("http://i.imgsafe.org/f0a778861b.png");
  background-size: 500% 100%;
  background-position: 0% 0;
  outline: 1px solid transparent;
}
#wrapper #otherContent #box #top #sSide #sReflection:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99.7%;
  background: linear-gradient(180deg, RGBA(29, 28, 26, 1) 0%, RGBA(29, 28, 26, 0.6) 123%);
  outline: 15px solid RGBA(29, 28, 26, 1);
}
#wrapper #otherContent #box #top #reflection {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: 50% 100%;
  transform: rotateX(-90deg);
  background-image: url(http://i.imgsafe.org/f0a778861b.png);
  background-size: 125% 100%;
  left: 0;
  background-position: 100% 0;
  background-repeat: no-repeat;
  outline: 1px solid transparent;
}
#wrapper #otherContent #box #top #overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: 50% 100%;
  transform: rotateX(-90deg);
  background: linear-gradient(180deg, RGBA(29, 28, 26, 1) 0%, RGBA(29, 28, 26, 0.6) 123%);
  outline: 1px solid transparent;
}
#wrapper .spacer {
  height: 25vh;
  width: 100%;
}
#wrapper #footer {
  min-height: 75vh;
  width: 100%;
  position: relative;
  display: flex;
}
#wrapper #footer #links {
  width: 50%;
  background: RGBA(29, 28, 26, 1);
  min-height: 27.5vh;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-flow: row wrap;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 0 1px black, 0 0 0 2px darkslategrey, 0 0 0 3px black;
  border-radius: 5px;
}
#wrapper #footer #links #canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
#wrapper #footer #links #end {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
  font-variant: small-caps;
  font-size: calc(7px + 1vw);
  letter-spacing: 1px;
  padding: 10px 0 10px 0;
}
#wrapper #footer #links a.fa {
  cursor: pointer;
  width: 12.5%;
  min-width: 140px;
  min-height: 70px;
  margin: 20px 20px 80px 20px;
  padding: 10px 0 10px 0;
  font-size: 48px;
  text-align: center;
  color: RGB(37, 166, 189);
  border-radius: 10px;
  text-shadow: 0 0 1px black;
  text-decoration: none;
  box-shadow: 0 0 0 1px black, inset 0 0 0 1px black;
  border: 6px solid RGBA(106, 105, 104, 1);
  position: relative;
  background: RGBA(72, 88, 106, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
@media (min-width: 340px) and (max-width: 767px) {
  #wrapper #footer #links a.fa {
    min-width: 120px;
    min-height: 50px;
  }
}
#wrapper #footer #links a.fa:hover {
  border-color: RGBA(29, 28, 26, 1);
  box-shadow: none;
  -webkit-animation: text-glow-animation 1.5s linear infinite;
  animation: text-glow-animation 1.5s linear infinite;
}
#wrapper #footer #links a.fa:hover:after {
  top: calc(-50% - 12px);
  opacity: 1;
  width: 100%;
  left: 0%;
  text-shadow: none;
}
#wrapper #footer #links a.fa:after {
  content: "";
  font-family: "Titillium Web";
  font-weight: 700;
  text-transform: uppercase;
  width: 60%;
  height: 50%;
  position: absolute;
  top: 0;
  left: 20%;
  background: RGBA(40, 80, 120, 1);
  opacity: 0;
  font-size: calc(7px + .15vw);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  line-height: 125%;
  z-index: -1;
  transition: top 0.25s cubic-bezier(0, 1.22, 1, 1.67), opacity 0.1s ease, left 0.2s ease, width 0.2s ease;
}
#wrapper #footer #links a:nth-child(3):after {
  content: "Checkout my CodePen";
}
#wrapper #footer #links a:nth-child(4):after {
  content: "Browse my GitHub";
}
#wrapper #footer #links a:nth-child(5):after {
  content: "Let's connect on LinkedIn";
}
#wrapper #footer #links a:nth-child(6):after {
  content: "Follow me on Twitter";
}
#wrapper #footer .side {
  width: 25%;
  min-height: 25vh;
  position: relative;
}
#wrapper #footer .side::before {
  display: block;
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-attachment: fixed;
  /* enable HW acceleration */
  will-change: top;
  transform: translate3d(0, 0, 0);
  background: url(http://i.imgsafe.org/5e6d523f9b.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-color: RGBA(29, 28, 26, 1);
  background-position-y: -2vw;
  background-position-x: center;
}
#wrapper .scroll {
  position: absolute;
  bottom: 30px;
  left: calc(50% - 11px);
  height: 36px;
  width: 22px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 12px;
  box-sizing: border-box;
  z-index: 10;
  cursor: pointer;
  transition: opacity .5s ease;
}
#wrapper .scroll .hint {
  position: absolute;
  top: 5px;
  left: 5px;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: white;
  opacity: 0;
  pointer-events: none;
  -webkit-animation: scroll-hint-animation 2s linear infinite;
  animation: scroll-hint-animation 2s linear infinite;
}

@-webkit-keyframes scroll-hint-animation {
  60% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(14px);
    transform: translateY(14px);
  }
}
@keyframes scroll-hint-animation {
  60% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(14px);
    transform: translateY(14px);
  }
}
@-webkit-keyframes text-glow-animation {
  0% {
    text-shadow: 0 0 1px black;
  }
  50% {
    text-shadow: 0 0 1px black, 0 0 2px RGB(37, 166, 189), 0 0 3px white, 0 0 5px RGB(37, 166, 189), 0 0 7px white, 0 0 10px RGB(37, 166, 189);
  }
  100% {
    text-shadow: 0 0 1px black;
  }
}
@keyframes text-glow-animation {
  0% {
    text-shadow: 0 0 1px black;
  }
  50% {
    text-shadow: 0 0 1px black, 0 0 2px RGB(37, 166, 189), 0 0 3px white, 0 0 5px RGB(37, 166, 189), 0 0 7px white, 0 0 10px RGB(37, 166, 189);
  }
  100% {
    text-shadow: 0 0 1px black;
  }
}
