/*
RGB(46,79,119) dark blue
RGB(119,244,226) light blue green
RGB(46,119,80) dark green
RGB(119,79,46) brown 
RGB(79,126,114) dark light green



RGB(111,111,136) light purple
RGB(136,246,246) light blue
RGB(111,136,134) steel grey
RGB(136,111,111) brown
RGB(143,102,143) steel purple

*/
@import url("https://fonts.googleapis.com/css?family=Bahiana|Barrio|Open+Sans+Condensed:300|Oswald|Roboto|Sansita|Titillium+Web");
body {
  overflow-x: hidden;
}

#wrapper {
  width: 100vw;
  min-height: 100vh;
}
#wrapper #landing {
  width: 100%;
  height: 100vh;
  background: url(http://i.imgsafe.org/5e6d523f9b.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: -2vw;
  background-position-x: center;
  position: relative;
}
#wrapper #landing:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: RGBA(77, 192, 181, 0.1);
  pointer-events: none;
}
#wrapper #landing #name {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  font-family: Oswald;
  text-transform: uppercase;
  font-size: calc(7px + 4vw);
  text-align: center;
  color: RGBA(29, 28, 26, 1);
}
@media (min-width: 340px) and (max-width: 767px) {
  #wrapper #landing #name {
    text-shadow: none;
  }
}
#wrapper #landing #name #tagline {
  font-family: "Titillium Web";
  font-size: calc(12px + 1.25vw);
  width: 100%;
  height: 50px;
  text-align: center;
  padding-top: 40px;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 50px;
}
#wrapper #landing #name #tagline:before {
  content: "";
  width: 40%;
  height: 40%;
  position: absolute;
  bottom: 0%;
  left: 30%;
  border-top: 2px solid black;
}
#wrapper #bodyContent {
  min-height: 100vh;
  width: 100%;
  background: RGBA(29, 28, 26, 1);
  display: flex;
  flex-flow: column;
}
#wrapper #bodyContent .bodyTitle {
  width: 100%;
  text-align: center;
  color: white;
  font-size: calc(10px + 2vw);
  padding: 10px 10px 75px 10px;
  margin-top: 2.5%;
  text-transform: capitalize;
  font-family: 'Oswald';
  font-variant: small-caps;
}
#wrapper #bodyContent .innerBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: auto;
  margin: 0 auto;
}
#wrapper #bodyContent .innerBox a.pen:nth-child(1) {
  margin: 15px;
  width: 320px;
  height: 230px;
  border-top: 3px outset RGB(31, 137, 212);
  border-left: 6px inset RGB(31, 137, 212);
  border-right: 6px outset RGB(31, 137, 212);
  border-bottom: 3px inset RGB(31, 137, 212);
  position: relative;
  background: url("http://i.imgsafe.org/71f29dbf56.png");
  background-size: 100% 80%;
  color: black;
  font-family: "Roboto";
}
#wrapper #bodyContent .innerBox a.pen:nth-child(1):before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  transition: all .3s ease;
}
#wrapper #bodyContent .innerBox a.pen:nth-child(1):hover:before {
  background: transparent;
}
#wrapper #bodyContent .innerBox a.pen:nth-child(1) p.desc {
  width: calc(100% - 10px);
  height: calc(20% - 10px);
  background: RGB(31, 137, 212);
  position: absolute;
  bottom: 0;
  padding: 5px;
  justify-content: center;
  text-align: center;
  box-shadow: inset 0 0 0 1px black;
  color: whitesmoke;
  font-size: calc(7px + .4vw);
  display: flex;
  align-items: center;
  line-height: 125%;
}
#wrapper #bodyContent .innerBox a.pen:nth-child(2) {
  margin: 15px;
  width: 320px;
  height: 230px;
  border-top: 3px outset RGB(31, 137, 212);
  border-left: 6px inset RGB(31, 137, 212);
  border-right: 6px outset RGB(31, 137, 212);
  border-bottom: 3px inset RGB(31, 137, 212);
  position: relative;
  background: url("http://i.imgsafe.org/7223f445ae.png");
  background-size: 100% 80%;
  color: black;
  font-family: "Roboto";
}
#wrapper #bodyContent .innerBox a.pen:nth-child(2):before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  transition: all .3s ease;
}
#wrapper #bodyContent .innerBox a.pen:nth-child(2):hover:before {
  background: transparent;
}
#wrapper #bodyContent .innerBox a.pen:nth-child(2) p.desc {
  width: calc(100% - 10px);
  height: calc(20% - 10px);
  background: RGB(31, 137, 212);
  position: absolute;
  bottom: 0;
  padding: 5px;
  justify-content: center;
  text-align: center;
  box-shadow: inset 0 0 0 1px black;
  color: whitesmoke;
  font-size: calc(7px + .4vw);
  display: flex;
  align-items: center;
  line-height: 125%;
}
#wrapper #bodyContent .innerBox a.pen:nth-child(3) {
  margin: 15px;
  width: 320px;
  height: 230px;
  border-top: 3px outset RGB(31, 137, 212);
  border-left: 6px inset RGB(31, 137, 212);
  border-right: 6px outset RGB(31, 137, 212);
  border-bottom: 3px inset RGB(31, 137, 212);
  position: relative;
  background: url("http://i.imgsafe.org/727f6786fb.png");
  background-size: 100% 80%;
  color: black;
  font-family: "Roboto";
}
#wrapper #bodyContent .innerBox a.pen:nth-child(3):before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  transition: all .3s ease;
}
#wrapper #bodyContent .innerBox a.pen:nth-child(3):hover:before {
  background: transparent;
}
#wrapper #bodyContent .innerBox a.pen:nth-child(3) p.desc {
  width: calc(100% - 10px);
  height: calc(20% - 10px);
  background: RGB(31, 137, 212);
  position: absolute;
  bottom: 0;
  padding: 5px;
  justify-content: center;
  text-align: center;
  box-shadow: inset 0 0 0 1px black;
  color: whitesmoke;
  font-size: calc(7px + .4vw);
  display: flex;
  align-items: center;
  line-height: 125%;
}
#wrapper #bodyContent .innerBox a.pen:nth-child(4) {
  margin: 15px;
  width: 320px;
  height: 230px;
  border-top: 3px outset RGB(31, 137, 212);
  border-left: 6px inset RGB(31, 137, 212);
  border-right: 6px outset RGB(31, 137, 212);
  border-bottom: 3px inset RGB(31, 137, 212);
  position: relative;
  background: url("http://i.imgsafe.org/743ae6e254.png");
  background-size: 100% 80%;
  color: black;
  font-family: "Roboto";
}
#wrapper #bodyContent .innerBox a.pen:nth-child(4):before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  transition: all .3s ease;
}
#wrapper #bodyContent .innerBox a.pen:nth-child(4):hover:before {
  background: transparent;
}
#wrapper #bodyContent .innerBox a.pen:nth-child(4) p.desc {
  width: calc(100% - 10px);
  height: calc(20% - 10px);
  background: RGB(31, 137, 212);
  position: absolute;
  bottom: 0;
  padding: 5px;
  justify-content: center;
  text-align: center;
  box-shadow: inset 0 0 0 1px black;
  color: whitesmoke;
  font-size: calc(7px + .4vw);
  display: flex;
  align-items: center;
  line-height: 125%;
}
#wrapper #bodyContent .innerBox a.pen:nth-child(5) {
  margin: 15px;
  width: 320px;
  height: 230px;
  border-top: 3px outset RGB(31, 137, 212);
  border-left: 6px inset RGB(31, 137, 212);
  border-right: 6px outset RGB(31, 137, 212);
  border-bottom: 3px inset RGB(31, 137, 212);
  position: relative;
  background: url("http://i.imgsafe.org/7445fbb149.png");
  background-size: 100% 80%;
  color: black;
  font-family: "Roboto";
}
#wrapper #bodyContent .innerBox a.pen:nth-child(5):before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  transition: all .3s ease;
}
#wrapper #bodyContent .innerBox a.pen:nth-child(5):hover:before {
  background: transparent;
}
#wrapper #bodyContent .innerBox a.pen:nth-child(5) p.desc {
  width: calc(100% - 10px);
  height: calc(20% - 10px);
  background: RGB(31, 137, 212);
  position: absolute;
  bottom: 0;
  padding: 5px;
  justify-content: center;
  text-align: center;
  box-shadow: inset 0 0 0 1px black;
  color: whitesmoke;
  font-size: calc(7px + .4vw);
  display: flex;
  align-items: center;
  line-height: 125%;
}
#wrapper #bodyContent .innerBox a.pen:nth-child(6) {
  margin: 15px;
  width: 320px;
  height: 230px;
  border-top: 3px outset RGB(31, 137, 212);
  border-left: 6px inset RGB(31, 137, 212);
  border-right: 6px outset RGB(31, 137, 212);
  border-bottom: 3px inset RGB(31, 137, 212);
  position: relative;
  background: url("http://i.imgsafe.org/744f64be9f.png");
  background-size: 100% 80%;
  color: black;
  font-family: "Roboto";
}
#wrapper #bodyContent .innerBox a.pen:nth-child(6):before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  transition: all .3s ease;
}
#wrapper #bodyContent .innerBox a.pen:nth-child(6):hover:before {
  background: transparent;
}
#wrapper #bodyContent .innerBox a.pen:nth-child(6) p.desc {
  width: calc(100% - 10px);
  height: calc(20% - 10px);
  background: RGB(31, 137, 212);
  position: absolute;
  bottom: 0;
  padding: 5px;
  justify-content: center;
  text-align: center;
  box-shadow: inset 0 0 0 1px black;
  color: whitesmoke;
  font-size: calc(7px + .4vw);
  display: flex;
  align-items: center;
  line-height: 125%;
}
#wrapper #bodyContent .innerBox a.pen:nth-child(7) {
  margin: 15px;
  width: 320px;
  height: 230px;
  border-top: 3px outset RGB(31, 137, 212);
  border-left: 6px inset RGB(31, 137, 212);
  border-right: 6px outset RGB(31, 137, 212);
  border-bottom: 3px inset RGB(31, 137, 212);
  position: relative;
  background: url("http://i.imgsafe.org/7459a0f321.png");
  background-size: 100% 80%;
  color: black;
  font-family: "Roboto";
}
#wrapper #bodyContent .innerBox a.pen:nth-child(7):before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  transition: all .3s ease;
}
#wrapper #bodyContent .innerBox a.pen:nth-child(7):hover:before {
  background: transparent;
}
#wrapper #bodyContent .innerBox a.pen:nth-child(7) p.desc {
  width: calc(100% - 10px);
  height: calc(20% - 10px);
  background: RGB(31, 137, 212);
  position: absolute;
  bottom: 0;
  padding: 5px;
  justify-content: center;
  text-align: center;
  box-shadow: inset 0 0 0 1px black;
  color: whitesmoke;
  font-size: calc(7px + .4vw);
  display: flex;
  align-items: center;
  line-height: 125%;
}
#wrapper #bodyContent .innerBox a.pen:nth-child(8) {
  margin: 15px;
  width: 320px;
  height: 230px;
  border-top: 3px outset RGB(31, 137, 212);
  border-left: 6px inset RGB(31, 137, 212);
  border-right: 6px outset RGB(31, 137, 212);
  border-bottom: 3px inset RGB(31, 137, 212);
  position: relative;
  background: url("http://i.imgsafe.org/74629c1f9f.png");
  background-size: 100% 80%;
  color: black;
  font-family: "Roboto";
}
#wrapper #bodyContent .innerBox a.pen:nth-child(8):before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  transition: all .3s ease;
}
#wrapper #bodyContent .innerBox a.pen:nth-child(8):hover:before {
  background: transparent;
}
#wrapper #bodyContent .innerBox a.pen:nth-child(8) p.desc {
  width: calc(100% - 10px);
  height: calc(20% - 10px);
  background: RGB(31, 137, 212);
  position: absolute;
  bottom: 0;
  padding: 5px;
  justify-content: center;
  text-align: center;
  box-shadow: inset 0 0 0 1px black;
  color: whitesmoke;
  font-size: calc(7px + .4vw);
  display: flex;
  align-items: center;
  line-height: 125%;
}
#wrapper #bodyContent .innerBox a.pen:nth-child(9) {
  margin: 15px;
  width: 320px;
  height: 230px;
  border-top: 3px outset RGB(31, 137, 212);
  border-left: 6px inset RGB(31, 137, 212);
  border-right: 6px outset RGB(31, 137, 212);
  border-bottom: 3px inset RGB(31, 137, 212);
  position: relative;
  background: url("http://i.imgsafe.org/7469507cf8.png");
  background-size: 100% 80%;
  color: black;
  font-family: "Roboto";
}
#wrapper #bodyContent .innerBox a.pen:nth-child(9):before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  transition: all .3s ease;
}
#wrapper #bodyContent .innerBox a.pen:nth-child(9):hover:before {
  background: transparent;
}
#wrapper #bodyContent .innerBox a.pen:nth-child(9) p.desc {
  width: calc(100% - 10px);
  height: calc(20% - 10px);
  background: RGB(31, 137, 212);
  position: absolute;
  bottom: 0;
  padding: 5px;
  justify-content: center;
  text-align: center;
  box-shadow: inset 0 0 0 1px black;
  color: whitesmoke;
  font-size: calc(7px + .4vw);
  display: flex;
  align-items: center;
  line-height: 125%;
}
#wrapper #bodyContent .innerBox a.pen:nth-child(10) {
  margin: 15px;
  width: 320px;
  height: 230px;
  border-top: 3px outset RGB(31, 137, 212);
  border-left: 6px inset RGB(31, 137, 212);
  border-right: 6px outset RGB(31, 137, 212);
  border-bottom: 3px inset RGB(31, 137, 212);
  position: relative;
  background: url("http://i.imgsafe.org/746cd9c05a.png");
  background-size: 100% 80%;
  color: black;
  font-family: "Roboto";
}
#wrapper #bodyContent .innerBox a.pen:nth-child(10):before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  transition: all .3s ease;
}
#wrapper #bodyContent .innerBox a.pen:nth-child(10):hover:before {
  background: transparent;
}
#wrapper #bodyContent .innerBox a.pen:nth-child(10) p.desc {
  width: calc(100% - 10px);
  height: calc(20% - 10px);
  background: RGB(31, 137, 212);
  position: absolute;
  bottom: 0;
  padding: 5px;
  justify-content: center;
  text-align: center;
  box-shadow: inset 0 0 0 1px black;
  color: whitesmoke;
  font-size: calc(7px + .4vw);
  display: flex;
  align-items: center;
  line-height: 125%;
}
#wrapper #bodyContent + .spacer,
#wrapper #otherContent + .spacer,
#wrapper #footer + .spacer {
  background: url(http://i.imgsafe.org/5e6d523f9b.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: -2vw;
  background-position-x: center;
}
#wrapper #otherContent {
  height: 30vw;
  width: 100%;
  background: RGBA(29, 28, 26, 1);
}
#wrapper .spacer {
  height: 25vh;
  width: 100%;
}
#wrapper #footer {
  min-height: 25vh;
  width: 100%;
  background: RGBA(72, 88, 106, 1);
}
#wrapper #footer #links {
  width: 50%;
  min-height: 25vh;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}
#wrapper #footer #links a.fa {
  cursor: pointer;
  width: 12.5%;
  min-width: 140px;
  min-height: 70px;
  margin: 20px 20px 40px 20px;
  padding: 10px 0 10px 0;
  font-size: 48px;
  text-align: center;
  color: RGB(37, 166, 189);
  border-radius: 10px;
  text-shadow: 0 0 1px black;
  text-decoration: none;
  box-shadow: 0 0 0 1px black, inset 0 0 0 1px black;
  border: 6px solid RGBA(106, 105, 104, 1);
  position: relative;
  background: RGBA(72, 88, 106, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  -webkit-animation: text-glow-animation 2s linear infinite;
  animation: text-glow-animation 2s linear infinite;
}
@media (min-width: 340px) and (max-width: 767px) {
  #wrapper #footer #links a.fa {
    min-width: 120px;
    min-height: 50px;
  }
}
#wrapper #footer #links a.fa:hover {
  border-color: RGB(26, 27, 28);
  box-shadow: none;
}
#wrapper #footer #links a.fa:hover:after {
  top: calc(-50% - 12px);
  opacity: 1;
  width: 100%;
  left: 10%;
}
#wrapper #footer #links a.fa:after {
  content: "";
  font-family: "Titillium Web";
  font-weight: 700;
  text-transform: uppercase;
  width: 80%;
  height: 50%;
  position: absolute;
  top: 0;
  left: 10%;
  background: black;
  opacity: 0;
  font-size: calc(7px + .15vw);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  line-height: 125%;
  transition: top 0.25s cubic-bezier(0, 1.22, 1, 1.67), opacity 0.1s ease;
}
#wrapper #footer #links a:nth-child(1):after {
  content: "Check out my CodePen";
}
#wrapper #footer #links a:nth-child(2):after {
  content: "Browse my GitHub";
}
#wrapper #footer #links a:nth-child(3):after {
  content: "Connect with me on LinkedIn";
}
#wrapper #footer #links a:nth-child(4):after {
  content: "Follow me on Twitter";
}
#wrapper #footer + .spacer + .spacer {
  height: 20vw;
  background: RGBA(29, 28, 26, 1);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#wrapper #footer + .spacer + .spacer #canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#wrapper #footer + .spacer + .spacer #end {
  color: white;
  font-variant: small-caps;
  font-size: calc(7px + 1vw);
  letter-spacing: 1px;
}
#wrapper .scroll {
  position: absolute;
  bottom: 30px;
  left: calc(50% - 11px);
  height: 36px;
  width: 22px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 12px;
  box-sizing: border-box;
  z-index: 10;
  cursor: pointer;
  transition: opacity .5s ease;
}
#wrapper .scroll .hint {
  position: absolute;
  top: 5px;
  left: 5px;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: white;
  opacity: 0;
  pointer-events: none;
  -webkit-animation: scroll-hint-animation 2s linear infinite;
  animation: scroll-hint-animation 2s linear infinite;
}

@-webkit-keyframes scroll-hint-animation {
  60% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(14px);
    transform: translateY(14px);
  }
}
@keyframes scroll-hint-animation {
  60% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(14px);
    transform: translateY(14px);
  }
}
@-webkit-keyframes text-glow-animation {
  0% {
    text-shadow: 0 0 1px black;
  }
  50% {
    text-shadow: 0 0 1px black, 0 0 2px RGB(37, 166, 189), 0 0 3px white, 0 0 5px RGB(37, 166, 189), 0 0 7px white, 0 0 10px RGB(37, 166, 189);
  }
  100% {
    text-shadow: 0 0 1px black;
  }
}
