body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: -webkit-radial-gradient(bottom ellipse, #1b2735 0%, #090a0f 100%);
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}
body #wrapper {
  width: 95vw;
  height: 100vh;
  position: relative;
  left: 2.5vw;
}
body #wrapper .gif {
  border-radius: 10px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: 0 0 3px black;
  position: absolute;
  top: inherit;
  left: inherit;
}
